#container {
    width: 1500px;
    /* background-color: aqua; */
    margin: auto;
}

h1 {
    text-align: center;
    color: #cc3767;
}

#menu {
    list-style: none;
    display: block;
    text-align: center;
    position: relative;
    right: 20px;
}

#menu li {
    display: inline;
    position: relative;
    padding: 8px;
    text-decoration: none;
    font-size: 17px;
}

a {
    text-decoration: none;
}

h2 {
    text-align: center;
    color: blueviolet;
}

#index {
    text-align: center;
}

h3 {
    text-align: center;
    color: #b49055;
}

#indexxx {
    display: flex;
    justify-content: center;
    margin-top: -15px;
}